.layout {
  min-height: 100vh;
}

.content {
  padding: 16px;
}

.header {
  background-color: #f7f9fb;
  border-bottom: 1px solid rgba(15, 23, 42, 0.08);
  height: 36px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  line-height: normal;
}

.headerTitle {
  font-size: 24px;
  font-weight: 600;
  color: #1f2933;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }
}
