.form {
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
}

.section {
  margin-bottom: 24px;
}

.sectionTitle {
  margin-bottom: 16px;
}

.formAlert {
  margin-bottom: 16px;
}

.submitItem {
  margin-top: 16px;
}
